extends home

block innercontent
  .panel.callout.radius
      h3 FTP Connections
      p To connect to Depot through FTP, use the following information:
      ul.no-bullet(style="font-size: 100%;")
        li
          b Server:
          span(style="font-family: 'Open Sans',sans-serif;") &nbsp;127.0.0.1
        li
          b Username:
          span(style="font-family: 'Open Sans',sans-serif;") &nbsp; Depot account username
        li
          b Password:
          span(style="font-family: 'Open Sans',sans-serif;") &nbsp; Depot account password

