doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300|Alegreya+Sans:100,300,400|Exo+2:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- script(src='//use.typekit.net/dyq7ugs.js')
    //- script try{Typekit.load();}catch(e){}
    script(src='javascripts/vendor/modernizr.js')
    script(src='javascripts/vendor/jquery.js')
    script(src='javascripts/script.js')
  body
    block content

  script(src='javascripts/foundation.min.js')
  script.
    $(document).foundation();
